.hidden{
  opacity: 0;
  transition: 1s;
}
.show{
  opacity: 1;
  transition: 1s;
}

body{
  background-image: url("https://i.pinimg.com/originals/0a/29/3a/0a293a8e7ef424a32fbc20d75bd458c0.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; 
}

#btn{
  width: 236px;
  margin-left: calc(50% - 118px);
  border-radius: 15px;
  background-color: red;
  font-size: 30px;
}

body div{
  text-align: center;
}
