.hidden{
  opacity: 0;
  transition: 1s;
}
.show{
  opacity: 1;
  transition: 1s;
}

#btn{
  width: 236px;
  margin-left: calc(50% - 118px);
  border-radius: 15px;
  background-color: red;
  font-size: 30px;
}

body div{
  text-align: center;
}
